#canvas3d{
  height: 520px;
}
#nav{
  height: 3em;
}
#control-block{
  min-width: 200px;
  height: 100%;
}
.uk-navbar-nav .uk-navbar-nav-subtitle {
  line-height: 40px;
}
.uk-navbar-nav > li > a {
  height: 60px;
  font-size: 30px;
  padding: 0 10px;
}
.uk-navbar-nav-subtitle > div {
  margin:0 auto;
  text-align:center;
}
.fa::before {
  padding: 0 10px;
}

#infobox {
  padding: 2px 2px 2px 5px;
  margin: 0 auto;
}

#send-command > div > *{
  margin-bottom: 5px;
}

#tab {
  position: fixed;
  width: 80px;
}